{% extends "header.html" %}

{% block content %}


<div class="jumbotron">


    <h1 class="display-1">{{request.name}}</h1>
    <h4 class="lead">{{request.date_created}}</h4>

    <div class="row">
        <a class="col-sm-6" href="/organizer/updaterequest/{{request.id}}">
            <button class="btn btn-primary btn-block">
              Accept <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </button>
        </a>
    </div>
    <div id="accordion" role="tablist">
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                    <a data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true"
                       aria-controls="collapseOne">
                       {% for item in request.items %} {{request.item}}, {% endfor %}
                    </a>
                </h5>
            </div>
        </div>

        <h1></h1>
        <p class="text-left">{{request.comments}}</p>
    </div>
  </div>



{% endblock %}
