<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
      crossorigin="anonymous">

    <link
      rel="stylesheet"
      href="/static/css/index.css">

    <title>Old Food</title>
  </head>
  <body>
    <h1>Foooood</h1><hr>
  </body>
</html>
