<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
      crossorigin="anonymous">

    <link
      rel="stylesheet"
      href="/static/css/index.css">

    <title>Feed-N-Elder</title>

  </head>
  <body>
    <h1><b><h2 align="center"> Feed-N-Elder</h2></b></h1><hr>
    <object align="top">
    <div class="text-center">
      {% if request.user.is_authenticated %}
      <a href="/">
        <button type="button" class="btn btn-primary">Continue</button>
      </a>
      {% else %}
      <a href="/login">
        <button type="button" class="btn btn-primary">Continue</button>
      </a>
      {% endif %}
    </div>


  <br>
  <br>
  <div class="card-deck">
    <div class="card">

      <div class="card-body">
        <h5 class="card-title">Senior Citizen</h5>
        <p class="card-text">Can request food items and add them to their cart, search through restaurants for specific food items, and checkout their cart. Checking out will send a request to a volunteer, who can deliver the requested items.</p>

      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Business</h5>
        <p class="card-text">Can add available food items to own page and will automatically show available items to clients.</p>

      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Volunteer</h5>
        <p class="card-text">Can see the requested items from clients, and can choose which requests to fulfill. This fulfillment will obligate the volunteer to deliver the items to the client. The volunteer will be shown a map and the address of the requested delivery.</p>

      </div>
    </div>
  </div>
  </body>
</html>
