{% extends 'header.html' %}

{% block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Driver</th>
      
      <th scope="col">Status</th>
      <th scope="col">Items</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Driver 1</td>
      <td>Picking up from restaurant</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Driver 2</td>
      <td>Delivering to house</td>
      <td>4</td>
    </tr>
    <tr>
      <td>Driver 3</td>
      <td>Finished Delivery</td>
      <td>0</td>
    </tr>
  </tbody>
</table>

{% endblock %}
